<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--        <span>-->
    <!--            {{title}}-->
    <!--        </span>-->
    <!--    <input type="text" v-model="title">-->
    <!--    {{[1,2,3,4][3]}}-->
    <!--    {{{name:'zhang',age:'12'}.name}}-->
    <!--    {{ say() }}-->
    {{count}}
    <input type="button" @click="add()" value="加法">
    <input type="button" @click="sub()" value="减法">
    <div>safa</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            title: 'hello vue',
            count: 1
        },
        methods: {
            // say: function () {
            //     alert("sas");
            // }
            add: function () {
                this.count++
            },
            sub:function () {
                this.count--
            }

        }
    });

</script>
</html>