<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<body id="app">
    {{ hSay() }}
</body>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            name:"zairian"
        },
        methods:{
            hSay: function () {
                alert("sad");
            }
        }
    });

</script>
</html>